*{
    box-sizing: border-box;
}

.wrapper{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: #000;
}

img{
    max-width: 100%;
    height: auto;
}

#sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
