//***Banner***
 #banner {
    width: 960px;
    height: 350px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 1);

    @media(max-width: 1370px) {
        display: none;
    }
}

#home #home-banner{
    display: block;
    width: 960px;
    float: left;
    transition: all 0.75s;
}

#home #previous-btn,
#home #next-btn {
    position: absolute;
    z-index: 0;
    display: block;
    padding: 0 10px;
    width: auto;
    height: 350px;
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    border: none;
    outline: none;
}

#home #previous-btn:hover,
#home #next-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

#home #next-btn {
    margin-left: 920px;
}
//************************

#home h1{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    margin-top: 18px;
}

#home ul{
    display: flex;
    margin-top: 24px;
}

#home ul li{
    width: 176px; 
    text-align: center;   
    margin-left: auto;
    margin-right: auto;
}
#home ul li p{
    line-height: 20px;
}