#asideProfile {
    display: inline-block;
    margin-left: 15%;
    font-size: 18px;
    margin-top: 40px;
}

#asideProfile table {
    width: 220px;
}
#asideProfile table:nth-child(1n + 2) {
    margin-top: 16px;
}

#asideProfile th,
#asideProfile td {
    border: 1px solid black;
    padding: 8px;
}

#asideProfile th {
    background-color: #ededed;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#asideProfile td:hover {
    background-color: #48bc8b;
    color: #ffffff;
    cursor: pointer;
}
