#profile .hide{
    display: none;
}

#profile .hide:first-child{
    display: inline-block;
} 
#profile{
    font-size: 0;
}
#profile section{
    vertical-align: top;
    font-size: 18px;
    margin-top: 22px;
    margin-left: 2%;
    width: 42%;
}
//////// 
/////// Line under H1
#profile h1 { 
    overflow:hidden;
    position:relative;
  }
  #profile h1 span {
    display:inline-block;
    overflow:hidden;
  }
  #profile h1 span:before{
    content:'';
    height:1em;
    display:inline-block;
    width:100%;
    position:absolute;
  }
  #profile h1 span:before {
    margin-right:-100%;
    border-bottom:solid 1px;
    color:black;
    vertical-align:bottom;
  }

/////////////////
///////////////// Postion for inputs in Profile

#profile section form{
    background-color: #EDEDED;
    height: 438px;
}
#profile section div:nth-child(1){
    padding-top: 15px;
}
#profile section div{
    text-align: center;
    margin-top: 26px;
}

#profile section .button{
    vertical-align: bottom;
    text-align: right;
}