#subscribe #logo {
    display: block;
    color: #48bc8b;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 80px;
}

#subscribe h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 55px;
}

#subscribe form{
    width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 55px;
}

#subscribe #other{
    text-align: center;
}
#subscribe #other a{
    display: block;
    margin-bottom: 18px;
}



// INPUT STYLE
/* form starting stylings ------------------------------- */
#subscribe .group {
    position: relative;
    margin-bottom: 45px;
}
#subscribe .group input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}
#subscribe input:focus {
    outline: none;
}

/* LABEL ======================================= */
#subscribe .group label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
#subscribe .group input:focus ~ label,
#subscribe .group input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #48bc8b;
}

/* BOTTOM BARS ================================= */
#subscribe .bar {
    position: relative;
    display: block;
    width: 300px;
}
#subscribe .bar:before,
#subscribe .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background:#48bc8b;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
#subscribe .bar:before {
    left: 50%;
}
#subscribe .bar:after {
    right: 50%;
}

/* active state */
#subscribe input:focus ~ .bar:before,
#subscribe input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
#subscribe .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
#subscribe .group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #48bc8b;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #48bc8b;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: #48bc8b;
    }
    to {
        width: 0;
        background: transparent;
    }
}
