html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

#sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

header {
  background-color: #48bc8b;
  font-size: 0;
  height: 68px;
}
@media (max-width: 871px) {
  header {
    height: 164px;
  }
}

header #logo {
  float: left;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 18px;
  text-transform: uppercase;
}
@media (max-width: 871px) {
  header #logo {
    margin-bottom: 14px;
  }
}

header #menu {
  float: right;
  width: 70%;
  font-size: 0;
}
@media (max-width: 871px) {
  header #menu {
    width: 100%;
  }
}

header #menu form {
  display: inline-block;
  width: 40%;
  margin-top: 14px;
}
@media (max-width: 1526px) {
  header #menu form {
    display: inline-block;
    width: 61%;
  }
}
@media (max-width: 871px) {
  header #menu form {
    width: 100%;
    margin-top: 4px;
  }
}

header #menu #search {
  margin-bottom: 15px;
  width: 100%;
  padding: 2.5%;
  border-radius: 18px 18px 18px 18px;
  height: 34px;
}

header #menu #custom {
  display: inline;
}
@media (max-width: 1526px) {
  header #menu #custom {
    position: absolute;
    width: 19%;
  }
}
@media (max-width: 871px) {
  header #menu #custom {
    display: contents;
  }
}

header #subMenuPublic {
  float: right;
  margin-top: 18px;
}
@media (max-width: 1526px) {
  header #subMenuPublic {
    display: none;
    background-color: #3fac7e;
    margin-top: 0;
  }
}

header #subMenuPublic li {
  display: inline-block;
}
@media (max-width: 1526px) {
  header #subMenuPublic li {
    width: 100%;
    margin-top: 18px;
  }
}

header #subMenuPublic li:nth-child(2) {
  margin-left: 100px;
  margin-bottom: 18px;
}
@media (max-width: 1526px) {
  header #subMenuPublic li:nth-child(2) {
    margin-left: 0;
  }
}

header #subMenuPublic li a {
  font-size: 20px;
  color: #ffffff;
}

/*Style 'show menu' label button and hide it by default*/
header #menuPublic {
  background: #fff;
  color: #48bc8b;
  text-align: center;
  padding: 10px 10px;
  border-radius: 18px;
  display: none;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
}
@media (max-width: 1526px) {
  header #menuPublic {
    display: inline-block;
    float: right;
    margin-top: 18px;
  }
}
@media (max-width: 871px) {
  header #menuPublic {
    float: none;
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

/*Hide checkbox*/
header #showMenuPublic {
  display: none;
}

/*Show menu when invisible checkbox is checked*/
header #showMenuPublic:checked ~ #subMenuPublic {
  display: block;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 68px;
  right: 0;
}
@media (max-width: 871px) {
  header #showMenuPublic:checked ~ #subMenuPublic {
    width: 70%;
    top: 164px;
    right: 15%;
  }
}

header .dropdown-content {
  display: none;
  position: absolute;
  width: 19.5%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 18px;
}
@media (max-width: 1526px) {
  header .dropdown-content {
    width: 30%;
  }
}
@media (max-width: 871px) {
  header .dropdown-content {
    width: 70%;
  }
}

header .show {
  display: block;
}

header #dropDown .resultFoodSearch {
  cursor: pointer;
}

header #dropDown .resultFoodSearch .foodPicture {
  display: inline-block;
  width: 25%;
}

header #dropDown .resultFoodSearch .foodName {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  text-align: center;
}

header #dropDown .resultFoodSearch .nutriscore {
  display: inline-block;
  width: 100px;
}

header #dropDown .resultFoodSearch .nova {
  display: inline-block;
  width: 45px;
}

header #menuLogin {
  float: right;
}
@media (max-width: 871px) {
  header #menuLogin {
    float: none;
    text-align: center;
  }
}

header #menuLogin .liMenuLogin {
  display: inline-block;
  vertical-align: top;
  margin-top: 18px;
}

@media (max-width: 1526px) {
  header #menuLogin .liMenuLogin:nth-child(1) {
    display: none;
  }
}

header #menuLogin .liMenuLogin:nth-child(2) {
  margin-left: 154px;
  margin-top: 10px;
}
@media (max-width: 1526px) {
  header #menuLogin .liMenuLogin:nth-child(2) {
    margin-left: 0;
  }
}
@media (max-width: 871px) {
  header #menuLogin .liMenuLogin:nth-child(2) {
    margin-left: 0;
    margin-top: 0;
  }
}

header #menuLogin .liMenuLogin a {
  font-size: 20px;
  color: #ffffff;
}

header #icon {
  float: right;
  width: 45px;
  cursor: pointer;
}

header #menuLogin #iconMenuLogin li {
  margin-top: 18px;
}

header #menuLogin #iconMenuLogin li:nth-child(1) {
  display: none;
}
@media (max-width: 1526px) {
  header #menuLogin #iconMenuLogin li:nth-child(1) {
    display: block;
  }
}

header #menuLogin #iconMenuLogin li:nth-child(3) {
  margin-bottom: 18px;
}

/*Hide checkbox*/
header #showMenuLogin,
header #iconMenuLogin {
  display: none;
}

/*Show menu when invisible checkbox is checked*/
header #showMenuLogin:checked ~ #iconMenuLogin {
  display: block;
  width: 200px;
  text-align: center;
  background: #3fac7e;
  position: absolute;
  top: 68px;
  right: 15%;
}
@media (max-width: 871px) {
  header #showMenuLogin:checked ~ #iconMenuLogin {
    width: 70%;
    top: 164px;
  }
}

footer {
  background-color: #3fac7e;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 0;
}

footer .wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  display: block;
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  footer nav {
    margin-left: 30%;
  }
}

footer ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 700px) {
  footer ul li {
    display: block;
  }
}

footer ul li:nth-child(1) {
  float: left;
}
@media (max-width: 700px) {
  footer ul li:nth-child(1) {
    float: none;
    margin-bottom: 14px;
  }
}

footer ul li:nth-child(2) {
  margin-left: 44%;
}
@media (max-width: 1526px) {
  footer ul li:nth-child(2) {
    margin-left: 40%;
    margin-bottom: 14px;
  }
}
@media (max-width: 1050px) {
  footer ul li:nth-child(2) {
    margin-left: 35%;
  }
}
@media (max-width: 700px) {
  footer ul li:nth-child(2) {
    margin-left: 0;
    margin-bottom: 14px;
  }
}

footer ul li:nth-child(3) {
  float: right;
}
@media (max-width: 700px) {
  footer ul li:nth-child(3) {
    float: none;
    margin-bottom: 5px;
  }
}

footer #right {
  font-size: 16px;
  text-align: center;
  color: white;
}

footer ul li a {
  color: white;
}

#banner {
  width: 960px;
  height: 350px;
  overflow: hidden;
  margin: auto;
  box-shadow: 0 8px 6px -6px black;
}
@media (max-width: 1370px) {
  #banner {
    display: none;
  }
}

#home #home-banner {
  display: block;
  width: 960px;
  float: left;
  transition: all 0.75s;
}

#home #previous-btn,
#home #next-btn {
  position: absolute;
  z-index: 0;
  display: block;
  padding: 0 10px;
  width: auto;
  height: 350px;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-size: 26px;
  cursor: pointer;
  border: none;
  outline: none;
}

#home #previous-btn:hover,
#home #next-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

#home #next-btn {
  margin-left: 920px;
}

#home h1 {
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  margin-top: 18px;
}

#home ul {
  display: flex;
  margin-top: 24px;
}

#home ul li {
  width: 176px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#home ul li p {
  line-height: 20px;
}

#log #logo {
  display: block;
  color: #48bc8b;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 80px;
}

#log h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 55px;
}

#log form {
  width: 300px;
  margin: auto;
  text-align: center;
  margin-bottom: 55px;
}

#log #other {
  text-align: center;
}

#log #other a {
  display: block;
  margin-bottom: 18px;
}

/* form starting stylings ------------------------------- */
#log .group {
  position: relative;
  margin-bottom: 45px;
}

#log .group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

#log input:focus {
  outline: none;
}

/* LABEL ======================================= */
#log .group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
#log .group input:focus ~ label,
#log .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #48bc8b;
}

/* BOTTOM BARS ================================= */
#log .bar {
  position: relative;
  display: block;
  width: 300px;
}

#log .bar:before,
#log .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #48bc8b;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#log .bar:before {
  left: 50%;
}

#log .bar:after {
  right: 50%;
}

/* active state */
#log input:focus ~ .bar:before,
#log input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
#log .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
#log .group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #48bc8b;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #48bc8b;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #48bc8b;
  }
  to {
    width: 0;
    background: transparent;
  }
}
#profile .hide {
  display: none;
}

#profile .hide:first-child {
  display: inline-block;
}

#profile {
  font-size: 0;
}

#profile section {
  vertical-align: top;
  font-size: 18px;
  margin-top: 22px;
  margin-left: 2%;
  width: 42%;
}

#profile h1 {
  overflow: hidden;
  position: relative;
}

#profile h1 span {
  display: inline-block;
  overflow: hidden;
}

#profile h1 span:before {
  content: "";
  height: 1em;
  display: inline-block;
  width: 100%;
  position: absolute;
}

#profile h1 span:before {
  margin-right: -100%;
  border-bottom: solid 1px;
  color: black;
  vertical-align: bottom;
}

#profile section form {
  background-color: #EDEDED;
  height: 438px;
}

#profile section div:nth-child(1) {
  padding-top: 15px;
}

#profile section div {
  text-align: center;
  margin-top: 26px;
}

#profile section .button {
  vertical-align: bottom;
  text-align: right;
}

#asideProfile {
  display: inline-block;
  margin-left: 15%;
  font-size: 18px;
  margin-top: 40px;
}

#asideProfile table {
  width: 220px;
}

#asideProfile table:nth-child(1n+2) {
  margin-top: 16px;
}

#asideProfile th,
#asideProfile td {
  border: 1px solid black;
  padding: 8px;
}

#asideProfile th {
  background-color: #ededed;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

#asideProfile td:hover {
  background-color: #48bc8b;
  color: #ffffff;
  cursor: pointer;
}

#subscribe #logo {
  display: block;
  color: #48bc8b;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 80px;
}

#subscribe h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 55px;
}

#subscribe form {
  width: 300px;
  margin: auto;
  text-align: center;
  margin-bottom: 55px;
}

#subscribe #other {
  text-align: center;
}

#subscribe #other a {
  display: block;
  margin-bottom: 18px;
}

/* form starting stylings ------------------------------- */
#subscribe .group {
  position: relative;
  margin-bottom: 45px;
}

#subscribe .group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

#subscribe input:focus {
  outline: none;
}

/* LABEL ======================================= */
#subscribe .group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
#subscribe .group input:focus ~ label,
#subscribe .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #48bc8b;
}

/* BOTTOM BARS ================================= */
#subscribe .bar {
  position: relative;
  display: block;
  width: 300px;
}

#subscribe .bar:before,
#subscribe .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #48bc8b;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#subscribe .bar:before {
  left: 50%;
}

#subscribe .bar:after {
  right: 50%;
}

/* active state */
#subscribe input:focus ~ .bar:before,
#subscribe input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
#subscribe .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
#subscribe .group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #48bc8b;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #48bc8b;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #48bc8b;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/*# sourceMappingURL=main.css.map */
